/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  text-align: center;
  margin: 0% auto;
  color: white;
  font-size: 20px;
  background: url('../img/ab.jpeg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

#getOutput{
  display: block;
  margin: 3% auto;
}

/******************************************R
/* ADDITIONAL STYLES
/*******************************************/


img{
  display: none;
  width: 650px;
  margin: 1% auto;
}

a, span{
  text-decoration: none;
  color: white;
}

h1{
  font-size: 80px;
}

#container{
  margin-top: 5%;
}

#date-input{
  padding: 2% 5%;
}

#message{
  font-size: 40px;
  font-family: 'Redressed', cursive;
}

#sign{
  font-size: 30px;
  font-family: 'Redressed', cursive;
}

.img-responsive{
  max-width: 100%;
}

footer{
  margin-top: 5%;
}

/* media queries */

@media screen and (max-width: 1050px){
  img{
    width: 450px;
  }
  
  #container{
    margin-top: 20%;
  }

  footer{
    margin-top: 20%;
  } 
}

@media screen and (max-width: 600px){
  img{
    width: 450px;
  }
  
  h1{
    font-size: 40px;
  }

  #message{
    font-size: 20px;
    font-family: 'Redressed', cursive;
  }
  
  #sign{
    font-size: 15px;
    font-family: 'Redressed', cursive;
  }

  span, a{
    font-size: 10px;
  }
  
  #container{
    margin-top: 40%;
  }

  footer{
    margin-top: 20%;
  } 
}